
html
{
    margin: 0px;
    padding: 0px;
}

body {
  background-color: black;
}

html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}
 

@font-face {
  font-family: 'authentic';
  src: url('../fonts/AUTHENTICSANS-60.otf');
  font-weight: 100;
    font-style: normal;
    
}





.image2 {
    display: absolute;
    margin-left: 30%;
    margin-right: 50%;
    margin-top: 10%;
    width: 40%;
    
    top: 300;
    z-index: -3;
   
}

  

h1 {
   color: white;
    position: absolute;
    top: 20px;
    z-index: 1;
    font-family: "authentic";
    letter-spacing: 10px;
    font-size: 12pt;
    margin-left: 20pt;
    
    
        
}


h2 {
    
    color: white;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    font-family: "authentic";
    letter-spacing: 10px;
    font-size: 12pt;
    margin-left: 20pt;
    display:inline;
}

.slick-prev:before,
.slick-next:before {
   display:none;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}


h3 {
    
    color: white;
    position: fixed;
    bottom: 20px;
    z-index: 1;
    font-family: "suisse";
    letter-spacing: 10px;
    font-size: 12pt;
    margin-left: 20pt;
    display:inline;
}





