
html
{
    margin: 0px;
    padding: 0px;
}

body {
  background-color: black;
}

html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}


img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 0%;
    width: 80%;
    position: center;
    top: 500;
    z-index: -1;
   
}

  

h1 {
   color: white;
    position: absolute;
    top: 20px;
    z-index: 1;
    font-family: "Helvetica";
    letter-spacing: 10px;
    font-size: 12pt;
    margin-left: 20pt;
    
    
        
}


h2 {
    
    color: white;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    font-family: "Helvetica";
    letter-spacing: 10px;
    font-size: 12pt;
    margin-left: 20pt;
    display:inline;
}

.slick-prev:before,
.slick-next:before {
   display:none;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}





